<!--
Uddip Amin
991518202
-->
<mat-tab-group mat-stretch-tabs
               class="mat-elevation-z4">
  <mat-tab id="tab1" style="background-color: rgb(169, 201, 189)">
    <ng-template mat-tab-label>
      <mat-icon id="personIco">person</mat-icon>
      &nbsp;&nbsp; My Courses
    </ng-template>
    <ul>
      <li *ngFor="let cls of myclasses; let i=index"
          (click)="onClick(i)">
          {{cls.courseName}}

          <div id='{{i}}' [ngStyle]="{display: showHideText(i)}">
            <strong>Course Name: </strong> {{cls.courseName}} <br>
            <strong>Course Credits: </strong> {{cls.credit}}<br>
            <strong>Course Description: </strong> {{cls.description}}<br>
          </div>
      </li>
    </ul>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon id="infoIco">info</mat-icon>
      &nbsp;&nbsp; My Info
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon id="carIco">directions_car</mat-icon>
      &nbsp;&nbsp; Display New or Used Cars &nbsp;&nbsp;
      <mat-icon color="primary">directions_car</mat-icon>
    </ng-template>
  </mat-tab>
</mat-tab-group>
