/*
* Uddip Amin
* 991518202
*/
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

td {
  text-align: center;
}

h3 {
  background-color: #cfecfc;
  border: 4px solid #0040ff;
  margin: 0px 300px;
  padding: 10px;
}

.buttonCSS {
  font-size: 1.1em;
  color: navy;
}

.mat-tab-labels {
display: flex;
background-color: #a9c9bd;
}
